body {
    font-family: monospace;
    font-size: 1.3em;
}
input {
    border: none;
    width: 100%;
    font-size: 1.0em;
    font-family: monospace;
}

input:focus {
    outline: none;
}

.queryInput {
    display: flex;
}

.input {
    width: 100%;
}

.label {
    color: rgba(82, 82, 82, 0.77);
    padding-right: 5px;
}

.result {
    margin: 5px;
    max-width: 650px;
}

.result .title {
    color: blue;
    font-weight: bold;
}

.result .link {
    color: green;
}

/* Inset, by Dan Eden */
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    max-width: 650px;
    margin-left: 10px;
}

.helpMenu {
    display: none;
}

.index {
    float: left;
    padding-left: 10px;
}

.main {
    width: 95%;
    float: right;
}

.result:after {
    content: '';
    display: block;
    clear: both;
}

.blue {
    color: #5a6ba1;
    display: inline;
}